/* --- GLOBAL STYLES --- */
body {
  background-color: #CCC;
}

/* --- HEADER/NAVIGATION --- */
section.splash-img {
  height: 350px;
  background-image: url("../images/splash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section.site-logo {
  position: absolute;
  top: 20%;
  left: 7%;
}

section.site-logo a {
  text-decoration: none;
}

img.wrench-logo {
  float: left;
}

h1.main-title {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 90px;
  color: #EEE;
  text-shadow: 5px 5px 20px #121C25;
  text-transform: uppercase;
}

nav {
  width: 100%;
}

nav ul {
  overflow: hidden;
  background-color: #13314D;
}

nav li {
	list-style-type: none;
  float: left;
  width: 20%;
}

nav li.active {
  background-color: #184169;
}

nav li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  padding: 20px 10px;
  color: #EEE;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

nav li a:hover {
  background-color: #2D587B;
  transition: background-color 0.5s ease-out;
}

nav ul:after {
  content: "";
  display: table;
  clear: both;
}

nav li ul {
  position: absolute;
  display: none;
  width: 20%;
}

nav li:hover ul {
  display: block;
  box-shadow: 2px 5px 15px #121C25;
}

nav li li {
  float: none;
  width: 100%;
}


/* --- MAIN CONTENT --- */
main {
  background-color: #EEE;
  padding: 40px 70px;
  width: 80%;
  margin: 0px auto;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
  color: #13314D;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  margin-top: 40px;
}

p {
  font-family: "Droid Serif", serif;
  font-size: 1em;
  margin-bottom: 15px;
  line-height: 150%;
  max-width: 70%;
}

section li {
  font-family: "Droid Serif", serif;
  margin-bottom: 15px;
  line-height: 150%;
  max-width: 70%;
  list-style-position: outside;
  list-style-image: url('../images/wrench-16.png');
  margin-left: 50px;
}

main img {
  float: right;
  width: 35%;
  margin: 20px 0 20px 40px;
  border: 7px solid #FFF;
  box-shadow: 0 0 5px #121C25;
}


/* --- FOOTER --- */
footer {
  clear: both;
  height: 56px;
  overflow: hidden;
  background-color: #13314D;
}

footer img {
  margin-right: 5px;
}

footer p {
  color: #EEE;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 56px;
  max-width: 100%;
  margin: 0;
}


/* --- Hide/show section content (timpriser) with toggle button --- */
section.timpriser-section {
  display: none;
}

button.timpriser-btn {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  color: #EEE;
  background-color: #2D587B;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 20px 0;
  border-radius: 5px;
}

.timpriser-btn .hide-text {
  display: none;
}